<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/task.css">

<div class="container-fluid">
  <div class="row">
    <% if (currentUser) { %>
    <div class="col-md-3">
      <%- include('../partials/user_panel') %>
    </div>
    <div class="col-md-6">
      <!-- Task Title -->
      <h1>Task: <%= task.title %></h1>

      <!-- Task Description -->
      <h2>Description</h2>
      <p><%= task.description %></p>

      <!-- Due Date -->
      <h2>Due Date</h2>
      <p><%= task.dueDate ? new Date(task.dueDate).toLocaleDateString() : "Not specified" %></p>

      <h2>Importance</h2>
      <p><%= task.importance %></p>

      <!-- Location -->
      <h2>Location</h2>
      <p><%= task.location %></p>

      <!-- Department -->
      <h2>Department</h2>
      <p><%= task.department ? task.department.name : "No department assigned" %></p>

      
      <!-- Image Section -->
      <% if (task.images && task.images.length > 0) { %>
        <h2>Task Images</h2>
        <% task.images.forEach(image => { %>
            <div>
                <img src="<%= image.url %>" alt="Task Image" style="max-width: 300px;">
            </div>
        <% }); %>
    <% } else { %>
        <p>No images provided for this task.</p>
    <% } %>

      <!-- Edit Button -->
      <div class="button-container">
        <!-- Edit Button -->
        <a href="/tasks/<%= task._id %>/edit">
          <button>Edit Task</button>
        </a>

        <!-- Back Link -->
        <a href="/tasks">Back to Task List</a>

        <!-- Delete Button -->
        <form action="/tasks/<%=task._id%>?_method=Delete" method="post" style="display: inline;">
          <button>Delete</button>
        </form>

        <!-- Button to mark task as complete -->
        <form action="/tasks/<%= task._id %>/complete" method="POST" style="display: inline;">
          <% if (!task.completed) { %>
          <button type="submit">Mark as Completed</button>
          <% } else { %>
          <span>Task Completed</span>
          <% } %>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <%- include('../partials/info_panel') %>
    </div>
    <% } %>
  </div>
</div>