<% layout('layouts/boilerplate') %>

<h1>Company Details</h1>
<div class="company-details">
  <p><strong>Company Name:</strong> <%= company.name %></p>
  <p><strong>Address:</strong> <%= company.address.street %>, <%= company.address.city %>, <%= company.address.state %> <%= company.address.zipCode %></p>
  <p><strong>Company Code:</strong> <%= company.code %></p>
  <p><strong>Store Number:</strong> <%= company.storeNumber %></p>
</div>
